header h1 {
	text-align: center;
	margin-bottom: 40px;
}

.calculator-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.displayer {
	grid-column: 1 / -1;
	background-color: gray;
	margin-bottom: 10px;
	height: 70px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* width: 120px; */
	width: 50%;
	height: 80%;
}

.buttons button {
	/* width: 120px; */
	/* height: 40px; */
	/* max-width: 120px; */
	padding: 40px;
}

.double {
	grid-column: -5 / -3;
}
