header h1 {
	text-align: center;
	margin-bottom: 40px;
}

section {
	max-width: 99%;
}

.calculator-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.displayer {
	grid-column: 1 / -1;
	background-color: gray;
	margin-bottom: 10px;
	height: 70px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.buttons button {
	padding: 30px;
}

.double {
	grid-column: -5 / -3;
}
